.today {
  color: #000;
  background-color: #eee;
}

.currentMonth {
  color: #aaa;
}

.firstWeek {
  display: block;
  color: #000;
  font-size: 12px;
}

.item-day {
  width: 100%;
  text-align: left;
  border: 1px solid #aaa;
  padding-left: 2px;
  overflow: hidden;
}

.numData {
  font-size: 12px;
}
.today .numData {
  margin-top: 5px;
  background-color: blue;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.noteTitle {
  margin: 0;
  font-size: 12px;
  background: #4a73cd;
  color: #ffffff;
  white-space: nowrap;
  margin-left: -2px;
  margin-right: -1px;
  padding-left: 2px;
}
