.AddNotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AddNotes input {
  margin-bottom: 5px;
  padding: 5px;
}

.modal-calendar .item-day {
  width: 50px;
  height: 50px !important;
}
