.toolbar {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.toolbar > div {
  margin-bottom: 5px;
}

.month-name {
  flex-grow: 1;
  display: flex;
  align-items: center;
  color: #aaa;
}

.toolbar .today {
  text-transform: uppercase;
  background-color: #eee;
  padding: 1px 4px;
}

.toolbar .search {
  position: relative;
}

.toolbar .finded-notes {
  position: absolute;
  background-color: #fff;
  width: 100%;
  font-size: 12px;
}

.toolbar .finded-notes li {
  cursor: pointer;
}

.monthArrow {
  margin: 0 5px;
  cursor: pointer;
  color: #aaa;
}

.btns-add-refresh button {
  margin: 0 3px;
  background-color: #4a73cd;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.search input {
  height: 25px;
  width: 220px;
  padding: 5px;
  border: 1px solid #aaa;
  border-top: 2px solid #aaa;
}

.search i {
  color: #aaa;
  margin: 0 5px;
}

.full-day-today {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.full-day-today span {
  font-weight: bold;
}

.full-day .note-title {
  display: flex;
  align-items: center;
}

.note-title .titleName {
  flex-grow: 1;
}

.note-title .titleTime {
  margin-right: 10px;
  font-style: 12px;
}

.note-title .fa {
  padding: 0 2px;
  cursor: pointer;
  font-size: 16px;
}

.note-title .fa.fa-edit {
  color: green;
}

.note-title .fa.fa-trash {
  color: red;
}

.li-tasks p {
  font-size: 14px;
  margin-bottom: 3px;
}

.li-tasks {
  border-bottom: 1px solid rgb(199, 192, 192);
}
